// position()
//   position:arguments
//   z-index: 1 unless @z-index
.clearfix
  clear:both 
#main
  height: 100%
  overflow:hidden
 //   position: absolute

#mainlf
  min-width:280px;
  width:30%;
  float:left;
#mainrt
  float:left;
  width:70%;
  margin-top:20px;
  text-align: center
  #mainWrap
    width:96%;
    margin:0 auto;
    .item
       float:left;
       margin:10px;
       margin-top:0
  #title
    width:96%;
    font-size:22px;
    height:32px;
    line-height: 32px
  #mainData  
    width: 96%;
    text-align: center;
    th
      color: #323232;
      font-size: 14px;
      background: #eef1f6;
      font-weight: 700;
      border: 1px solid #dfe6ec;
      line-height: 12px;
      vertical-align: middle;
      height: 30px;
    td
      border: 1px solid #dfe6ec;
      padding: 3px 6px;
      line-height: 12px;
      font-size: 12px;
      color: #505050;
      vertical-align: middle;
      height: 30px;

